<ul id="slide-out" class="sidenav">
    <li><div class="user-view">
        <div class="background">
            <img src="../../resources/images/sidenav_background.jpg" width="300">
        </div>
        <a href="#!"><img class="circle" id="navigation_profileImg" style="border: 1px solid #fff" src="../../resources/images/profile_default.svg"></a>
        <a href="#!"><span class="white-text name text-outline" id="navigation_name">John Doe</span></a>
        <a href="#!"><span class="white-text email text-outline" id="navigation_email">jdandturk@gmail.com</span></a>
    </div></li>
    <li><a class="waves-effect" href="#!"><i class="material-icons">power_settings_new</i>Sign out</a></li>
    <li><a class="waves-effect" href="javascript:render('profile', 'main')"><i class="material-icons">account_circle</i>Profile</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">My Area</a></li>
    <li><a class="waves-effect" href="javascript:render('examlist', 'main')"><i class="material-icons">assignment</i>My Exams</a></li>
    <li><a class="waves-effect" href="javascript:render('examlist', 'main')"><i class="material-icons">share</i>Exams Shared With Me</a></li>
    <li><a class="waves-effect" href="javascript:render('examlist', 'main')"><i class="material-icons">play_circle</i>Runs</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">About</a></li>
    <li><a class="waves-effect" href="javascript:nav_openGitHub()"><i class="material-icons">explore</i>Examify on GitHub</a></li>
    <li><a class="waves-effect" href="javascript:render('license', 'main')"><i class="material-icons">gavel</i>License</a></li>
</ul>
