.bigwrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    padding-top: 15px;
    box-sizing: border-box;
}

.nav-search-wrapper{
    position: absolute;
    width: 100vw;
    height: 56px;
}
